server {
    listen          8080;
    listen          [::]:8080;
    server_name     ${APP_WEB_SUBDOMAIN}.*;
    
    location /ws {
        proxy_pass  ${PRIVATE_APP_WEB_ADDRESS};
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }
    
    location / {
        proxy_pass  ${PRIVATE_APP_WEB_ADDRESS};
    }
}

