server {
    listen 8080;
    listen [::]:8080;
    server_name _;

    location /health {
        access_log off;
        return 200 '{"status":"UP"}';
        add_header Content-Type application/json;
    }

    location / {
        return 302 ${PUBLIC_APP_WEB_ADDRESS}$request_uri;
    }
}